.button {
    font: 'inherit';
    color: 'inherit';
    background-color: '#ffffff';
    border: 'none';
}

.menu {
    display: 'inline-block';
};

.dropdown {
    list-style-type: 'none';
    list-style-position: 'inside';
    padding: '0';
    margin: '0';
    background-color: '#ffffff';
    position: 'absolute';
    z-index: '9999';
}

.menuItem {
    padding: '10px';
}

